@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@media screen and (min-width: 768px) {
  .site_container {
    width: 100%;
    margin: 0;
  }

  .navbar_menu {
    display: none;
  }

  .desktop_navbar_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .social_media_icons {
    display: flex;
    gap: 2em;
    margin-left: auto;
    background-color: #3e3e3e;
    color: #fff;
    align-items: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .social {
    display: flex;
    gap: 1em;
    list-style: none;
    width: auto;
    margin-left: auto;
  }

  .sub_menu {
    display: flex;
    gap: 1em;
    list-style: none;
  }

  .navbar_menu_content {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: auto;
    padding-right: 5%;
  }

  .header_logo_image {
    width: 200px;
  }

  .navbar_menu_content_element {
    color: black !important;
    padding-left: 1em;
    padding-right: 1em;
  }

  .last_menu_item {
    color: red !important;
    border: 3px solid red;
  }

  .home_section {
    height: auto;
    background-image: url("assets/mobile_home_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3em;
    padding-top: 1em;
  }

  .titles {
    margin-top: 1em;
    color: #ff4f38;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    font-weight: bolder;
    font-size: xx-large;
  }

  .section_title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    text-transform: uppercase;
    width: 60%;
    font-size: xx-large;
    font-weight: bold;
  }

  .edition_title {
    margin-top: 0;
  }

  .greating_title {
    font-size: 1.5rem;
  }

  .description {
    padding: 1em;
    font-size: 19px;
    height: auto;
    text-align: left;
    border: 4px solid #fff;
    margin-top: 3em;
    width: 60%;
  }

  .contactemail {
    text-decoration: underline !important;
  }

  .emplacement {
    padding: 1em;
    font-size: 19px;
    height: auto;
    text-align: left;
    padding-bottom: 2em;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
  }

  .emplacement_date {
    font-weight: bold;
    font-size: 3rem;
  }

  .main_program {
    background-image: url("assets/main_section_background.jpg");
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 2em;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main_program_title {
    text-align: center;
  }

  .section_separator {
    height: 1px;
    border-radius: 15px;
    background-color: red;
    width: 10%;
    margin-top: 0.5em;
  }

  .program_content {
    display: flex;
    width: 80%;
    gap: 3px;
  }

  .program_element {
    background-color: #3d4046;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    align-items: center;
    opacity: 0.7;
    width: 20%;
  }

  .program_icon {
    height: 20%;
  }

  .program_title {
    padding: 0.5em;
    color: #fa5528;
    font-size: larger;
    font-weight: bolder;
  }

  .program_description {
    padding-left: 0.5em;
    text-align: center;
  }

  .join_conference_button {
    margin-top: 2em;
    height: 4em;
    background-color: inherit;
    color: #fff;
    width: 60%;
    border: none;
    text-decoration: underline;
    font-size: 1.5rem;
  }

  .desktop_hidden {
    display: none;
  }

  .desktop_visible {
    display: block;
  }

  .speaker_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .speakers_list {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
  }

  .speaker_card {
    display: flex;
    align-items: flex-start;
    margin-top: 1em;
    width: 40%;
  }

  .speaker_details {
    display: flex;
    flex-direction: column;
  }

  .speaker_name {
    color: #272a31;
    font-size: 1.8rem;
    font-weight: normal;
  }

  .speaker_fonction {
    font-style: italic;
    font-size: 1rem;
    font-family: "lato", sans-serif;
    color: #ec5242;
    font-weight: bold;
  }

  .speaker_details_separator {
    width: 5%;
    border: 1px solid #818181;
    margin-top: 0.5em;
  }

  .speaker_description {
    font-style: italic;
    color: #818181;
    font-size: 1rem;
    line-height: 25px;
    margin-top: 10px;
  }

  .see_more_div {
    width: 90%;
    display: none;
  }

  .partners_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #424244;
    padding-bottom: 2em;
  }

  .separator {
    width: 3%;
    border: 1px solid #ba2424;
  }

  .partners_list {
    list-style: none;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }

  .partner {
    width: 15%;
    padding-left: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .partner_image {
    width: 100%;
  }

  .patner_title {
    color: #fff;
    margin-bottom: 0.5em;
    margin-top: 1em;
  }

  .project_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 1.5em;
    gap: 5em;
  }

  .footer_logo_image {
    width: 15%;
  }

  .footer_copyright {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.7rem;
    font-size: larger;
  }
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

.visible_item {
  display: block;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  font-family: lato, sans-serif !important;
}
