@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@media screen and (max-width: 767px) {
  .site_container {
    width: 100%;
    margin: 0;
  }

  .mobile_header {
    display: flex;
    align-items: center;
    padding-left: 2em;
  }

  .menu_icon {
    height: 20px;
    width: 20px;
  }

  .header_logo {
    min-width: 67%;
    padding: 1em;
  }

  .navbar_menu_content {
    display: none;
    font-size: 1.75rem;
    font-weight: var(--fw-600);
    line-height: 2.75rem;
    list-style-type: none;
    height: 100vh;
    background-image: url("../assets/main_section_background.jpg");
    color: #fff;
    padding: 1em;
  }

  .navbar_menu_content_element {
    padding: 0.75rem 1rem;
    text-decoration: none;
    transition-duration: 0.3s;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .desktop_nav_bar {
    display: none;
  }

  .desktop_navbar_menu {
    display: none;
  }

  .close_menu_button {
    width: auto;
    margin-left: auto;
    color: #67798e;
    margin-bottom: 1em;
    display: flex;
    align-items: flex-end;
  }

  .mobile_close_button {
    color: #fff;
    margin-left: auto;
    padding: 0.5em;
  }

  .home_section {
    height: auto;
    background-image: url("../assets/mobile_home_bg.png");
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
  }

  .titles {
    color: #ff4f38;
    margin-top: 1em;
  }

  .section_title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .edition_title {
    margin-top: 0;
  }

  .description {
    padding: 1em;
    font-size: 19px;
    height: auto;
    text-align: justify;
    border: 5px solid white;
  }

  .emplacement {
    padding: 1em;
    font-size: 19px;
    height: auto;
    text-align: center;
    padding-bottom: 2em;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
  }

  .emplacement_date {
    font-weight: bold;
  }

  .main_program {
    background-image: url("../assets/main_section_background.jpg");
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 2em;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section_separator {
    height: 1px;
    border-radius: 15px;
    background-color: red;
    width: 10%;
    margin-top: 0.5em;
  }

  .program_element {
    background-color: #3d4046;
    display: flex;
    margin-top: 1em;
    padding: 0.5em;
    align-items: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    opacity: 0.7;
  }

  .program_icon {
    width: 15%;
  }

  .program_title {
    width: 20%;
    padding: 0.5em;
    color: red;
  }

  .program_description {
    padding-left: 0.5em;
    width: 65%;
  }

  .join_conference_button {
    margin-top: 2em;
    height: 4em;
    background-color: #ff4f38;
    color: #fff;
    width: 60%;
    border: none;
  }

  .speaker_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 2em;
  }

  .speakers_list {
    display: flex;
    flex-direction: column;
  }

  .speaker_card {
    display: flex;
    align-items: flex-start;
    margin-top: 1em;
  }

  .speaker_details {
    display: flex;
    flex-direction: column;
  }

  .speaker_name {
    color: #272a31;
    font-size: 1.8rem;
    font-weight: normal;
  }

  .speaker_fonction {
    font-style: italic;
    font-size: 1rem;
    font-family: "lato", sans-serif;
    color: #ec5242;
    font-weight: bold;
  }

  .speaker_details_separator {
    width: 5%;
    border: 1px solid #818181;
    margin-top: 0.5em;
  }

  .speaker_description {
    font-style: italic;
    color: #818181;
    font-size: 1rem;
    line-height: 25px;
    margin-top: 10px;
  }

  .see_more_div {
    width: 90%;
  }

  .see_more_button {
    color: #272a31;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 2px solid #d3d3d3;
    display: none;
  }

  .more_icon {
    margin-left: 0.5em;
  }

  .reversed {
    transform: scaleY(-1);
  }

  .project_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .footer_logo_image {
    width: 30%;
  }

  .footer_copyright {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.7rem;
  }

  .mobile_partners {
    display: none;
  }

  .desktop_visible {
    display: none;
  }
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

.visible_item {
  display: block;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  font-family: lato, sans-serif !important;
}
