@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: lato, sans-serif;
}

@media screen and (max-width: 767px) {
  .site_container {
    width: 100%;
    margin: 0;
  }

  .desktop_navbar_menu {
    display: none;
  }

  .header {
    display: none;
  }

  .menu_icon {
    height: 20px;
    width: 20px;
  }

  .header_logo {
    width: 100%;
    padding: 1em;
  }

  .navbar_menu_content {
    display: none;
    font-size: 1.75rem;
    font-weight: var(--fw-600);
    line-height: 2.75rem;
    list-style-type: none;
    height: 100vh;
    background-image: url("assets/main_section_background.jpg");
    color: #fff;
    padding: 1em;
  }

  .navbar_menu_content_element {
    padding: 0.75rem 1rem;
    text-decoration: none;
    transition-duration: 0.3s;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }

  .desktop_nav_bar {
    display: none;
  }

  .close_menu_button {
    width: auto;
    margin-left: auto;
    color: #67798e;
    margin-bottom: 1em;
    display: flex;
    align-items: flex-end;
  }

  .mobile_close_button {
    color: #fff;
    margin-left: auto;
    padding: 0.5em;
  }

  .home_section {
    height: auto;
    background-image: url("assets/mobile_home_bg.png");
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
  }

  .titles {
    margin-top: 1em;
    color: #ff4f38;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .greating_title {

  }

  .section_title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
  }

  .edition_title {
    margin-top: 0;
  }

  .description {
    padding: 1em;
    font-size: 19px;
    height: auto;
    text-align: justify;
    background-color: white;
  }

  .logo_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
  }

  .logo_title {
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
  }

  .separator {
    width: 15%;
    border: 1px solid #ba2424;
  }

  .logo_details {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
  }

  .logo_section_logo {
    width: 80%;
    border: 2px solid #818181;
    padding: 1em;
    margin-bottom: 3em;
  }

  .emplacement {
    padding: 1em;
    font-size: 19px;
    height: auto;
    text-align: center;
    padding-bottom: 2em;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
  }

  .section_separator {
    width: 100%;
    border: 1px solid #818181;
  }

  .event_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    gap: 1em;
  }

  .section_description {
    padding: 1em;
    height: auto;
    text-align: center;
  }

  .events_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .event_card {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
  }

  .event_image {
    width: 100%;
  }

  .event_details {
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .event_year {
    font-weight: bolder;
    font-size: 2.5rem;
  }

  .event_theme {
    font-weight: bolder;
  }

  .partners_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #424244;
  }

  .partners_list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }

  .partner {
    width: 30%;
    padding-left: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .partner_image {
    width: 100%;
  }

  .patner_title {
    color: #fff;
    margin-bottom: 0.5em;
    margin-top: 1em;
  }

  .project_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .footer_logo_image {
    width: 30%;
  }

  .footer_copyright {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.7rem;
  }
}

a {
  text-decoration: none !important;
}

.visible_item {
  display: block;
}

.hidden {
  display: none;
}

.title {
  font-size: 1.5rem;
  width: 70%;
  text-align: center;
}
