@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: lato,sans-serif;
}

@media screen and (min-width:768px) {
  .site_container {
    width: 100%;
    margin: 0;
  }

  .navbar_menu {
    display: none;
  }

  .desktop_navbar_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .social_media_icons {
    display: flex;
    gap: 2em;
    margin-left: auto;
  }

  .social {
    display: flex;
    gap: 1em;
    list-style: none;
  }

  .sub_menu {
    display: flex;
    gap: 1em;
    list-style: none;
    padding-right: 2em;
  }

  .navbar_menu_content {
    display: flex;
    list-style: none;
    gap: 1.5em;
    align-items: center;
    margin-left: auto;
    padding-right: 2em;
  }

  .header_logo_image {
    width: 200px;
  }

  .navbar_menu_content_element {
    color: black!important;
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .last_menu_item {
    color: red!important;
    border: 3px solid red;
  }

  .desktop_home {
    padding-right: 37em;
  }


  .home_section {
    height: auto;
    background-image: url("assets/mobile_home_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3em;
    padding-top: 1em;
  }

  .titles {
    margin-top: 1em;
    color: #FF4F38;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .greating_title {

  }

  .section_title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    width: 60%;
  }

  .edition_title {
    margin-top: 0;
  }

  .description {
    padding: 1em;
    font-size: 19px;
    height: auto;
    text-align: center;
    background-color: white;
    margin-top: 3em;
  }

  .contactemail {
    text-decoration: underline!important;
  }

  

  .emplacement {
    padding: 1em;
    font-size: 19px;
    height: auto;
    text-align: center;
    padding-bottom: 2em;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
  }

  .logo_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-right: 3em;
  }
  
  .logo_title {
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
  }

  .separator {
    width: 15%;
    border: 1px solid #ba2424;
  }

  .logo_details {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    width: 50%;
    margin-bottom: 0;
  }

  .logo_section_logo {
    width: 30%;
    border: 2px solid #d3d3d3;
    padding: 2.5em;
    margin-bottom: 3em;
    margin-top: 2em;

  }

  .section_separator {
    width: 100%;
    border: 1px solid #d3d3d3;
  }

  .event_section {

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    padding-top: 2em;
    gap: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
  }

  .section_description {
    padding: 1em;
    height: auto;
    text-align: center;
  }

  .events_list {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .event_card {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
  }

  .event_image {
    height: 100%;
  }

  .event_details {
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .event_year {
    font-weight: bolder;
    font-size: 2.5rem;
  }

  .event_theme {
    font-weight: bolder;
  }
  .mobile_partners {
    display: none;
  }

  .partners_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #424244;
    display: none;
  }

  .project_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #424244;
  }

  .footer_logo_image {
    width: 30%;
  }

  .footer_copyright {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1rem;
    color: #fff;
  }

}

a {
  text-decoration: none !important;
}

.visible_item {
  display: block;
}

.hidden {
  display: none;
}

.title {
  font-size: 1.5rem;
  width: 70%;
  text-align: center;
}