body {
  margin: 0;
}

@media screen and (max-width:767px) {
  .site_container {
    width: 100%;
    margin: 0;
  }

  .mobile_header {
    display: flex;
    align-items: center;
    padding-left: 2em;
  }

  .menu_icon {
    height: 20px;
    width: 20px;

  }

  .header_logo {
    min-width: 67%;
    padding: 1em;
  }

  .home_section {
    height: auto;
    background-image: url("assets/mobile_home_bg.png");

    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 3em;
  }

  .titles {
    color: #FF4F38;
  }

  .greating_title {

  }

  .section_title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .edition_title {
    margin-top: 0;
  }

  .description {
    padding: 1em;
    font-size: 19px;
    height: auto;
    text-align: justify;
    border: 5px solid white;
  }

  .emplacement {
    padding: 1em;
    font-size: 19px;
    height: auto;
    text-align: center;
    padding-bottom: 2em;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
  }

  .emplacement_date {
    font-weight: bold;
  }

  .emplacement_location {

  }

  .main_program {
    background-image: url("assets/main_section_background.jpg");
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 2em;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section_title {

  }

  .section_separator {
    height: 1px;
    border-radius: 15px;
    background-color: red;
    width: 10%;
    margin-top: 0.5em;
  }

  .program_element {
    background-color: #3D4046; 
    display: flex;
    margin-top: 1em;
    padding: 0.5em;
    align-items: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    opacity: 0.7;
  }

  .program_icon {
    width: 15%;
  }

  .program_title {
    width: 20%;
    padding: 0.5em;
    color: red;
  }

  .program_description {
    padding-left: 0.5em;
    width: 65%;
  }

  .join_conference_button {
    margin-top: 2em;
    height: 4em;
    background-color: #FF4F38;
    color: #fff;
    width: 60%;
    border: none;
  }

  .speaker_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 2em;
  }

  .speakers_list {
    display: flex;
    flex-direction: column;
  }

  .speaker_card {
    display: flex;
    height: 230px;

  }

  .speacker_show {
    
  }

  .speaker_image_background {
    width: 60%;
  }

  .speaker_image {
    position: relative;
    top: -40%;
    left: 10%;
    height: 100px;
  }

  .speaker_details {
    display: flex;
    flex-direction: column;

  }

  .speaker_name {
    color: #272a31;
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 10px;

  }

  .speaker_fonction {
    font-style: italic;
    font-size: 0.7rem;
    font-weight: 100;
    font-family: "cocogoose", sans-serif;
    color: #ec5242;
    line-height: 16px;

  }

  .speaker_description {
    font-style: italic;
    color: #818181;
    font-size: 1rem;
    line-height: 25px;
    margin-top: 10px;
  }

}
